*{
  margin: 0;
   padding: 0;
}
span{
  color:green;
}

h1,h2,h3,h4,h5,h6{
  font-family:Georgia, 'Times New Roman', Times, serif
}
p{
  font-family: 'Satisfy',cursive;
}
#b1{
  width:30% ;
  border-radius: 20px;
  height: 50px;
  background-color: antiquewhite;
  color: orange;
  border: 1px orange solid;
 
}
#b1:hover{
  background-color:greenyellow;
  color: black;
  border: 2px white;
}